
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
:root{
  --primary-color:black;
  --primary-font:'Lato', sans-serif
}

*{
  box-sizing: border-box;
}
html{
  font-family: var(--primary-font);
}
body{
  margin: 0;
  padding: 0;

}
img{
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.btn{
  padding: 16px 32px;
  background-color: transparent;
}